@import 'constant';

//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  //font: 0.4rem/1rem '.';  
	font: #{$size}/#{$line-height} $family;
}

//定位上下左右居中
@mixin center {  
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {  
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
}

//定位左右居中
@mixin cl {  
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
}

//flex 布局和 子元素 对其方式    ----横向两端对齐
@mixin fj($type: space-between){
	display: flex;
	justify-content: $type;
}

// 背景图片地址和大小
@mixin bis($url) { 
  //background: url(../../assets/img/ic-delete.png) no-repeat 0/100%;
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

//兼容圆角
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
//定位全屏
@mixin allcover{
	position:absolute;
	top:0;
  right:0;
  bottom: 0;
  left: 0;
}

//懒加载动态

@mixin lazybook{
  transform-origin: 0;
  transform: rotatey(-90deg);
  transition: all 3s ease-out;
  &[lazy=loaded] {
    transform: rotatey(0deg);
  }
}

@mixin lazyopacity{
  opacity: 0;
  transition: all 3s ease-out;
  &[lazy=loaded] {
    opacity: 1;
  }
}








